.u-section-1 .u-sheet-1 {
  min-height: 6px;
} .u-section-2 {
  background-image: linear-gradient(#f5d654, #daece0);
}

.u-section-2 .u-sheet-1 {
  min-height: 163px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 50px;
}